ion-content, ion-header {
    --background: #fbca0b;
    //--background: #5260ff;
    //--background: url(../../../assets/garage-background.jpg) 0 0/100% 100% no-repeat;
}

#image {
    text-align: center;
}

/*img {
    width: 150px;
}*/

.centrado{
    text-align: center;
  }