<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"  
        color="dark">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Que tipo de usuario eres?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br/>
  <br/>

  <div id="image">
    <img src="/assets/logo2.png">
  </div>

  <ion-card>
    <!--<ion-card-header>
      <ion-card-title>Que tipo de usuario eres?</ion-card-title>
    </ion-card-header>-->
    <ion-card-content>

      <ion-row>
        <ion-col>
            <ion-card color="warning" (click)="registroClientes()">
              <div id="image">
                <img style="width: 75px; padding-top: 15px;" src="/assets/icon/cliente.png">
              </div>
              <!--<ion-card-content>-->
                <div style="height: 100%; display: flex; align-items: center; justify-content: center; font-size: large;">
                  Cliente
                </div>
              <!--</ion-card-content>-->
            </ion-card>
        </ion-col>
        <ion-col>
          <ion-card color="warning" (click)="registroTalleres()">
            <div id="image">
              <img style="width: 75px; padding-top: 15px;" src="/assets/icon/mecanica.png">
            </div>
            <!--<ion-card-content>-->
              <div style="height: 100%; display: flex; align-items: center; justify-content: center; font-size: large;">
                Taller
              </div>
            <!--</ion-card-content>-->
          </ion-card>
        </ion-col>
      </ion-row>
      
    </ion-card-content>
  </ion-card>
</ion-content>
