ion-item {
    --background: #fbca0b;
    h2 {
      font-weight: bold;
      font-size: 20px;
      color: #000000;
    }
    h4 {
        font-size: 16px;
        color: #000000;
      }
  }
  
  ion-item:last-of-type {
    div {
      padding-bottom: 5px;
      padding-top: 10px;
    }
  }
  
  ion-col {
    padding: 0;
  }
  
  // ::ng-deep .searchbar-search-icon {
  //   color: #316dd0 !important;
  // }
  
  ion-content{
    --background: #fbca0b;
  }

  .label{
    display: flex;
    align-items: center;
  }

  .main{
    height: 78vh;
    width: 100%;
    max-width: 500px;
    background: #121212;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
  }
  
  ion-card {
    padding: 2px;
    box-shadow: none;
    box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.16);
    border-radius: 15px;

    h2 {
        font-weight: bold;
        color: #ffff;
      }
  
    ion-img {
      width: 75px;
      margin: 0 auto;
    }
  }